
header {
    text-align: center;
    padding: 2em;
    background-color: #333;
    color: #fff;
    font-family: 'Dancing Script', cursive; /* Example artistic font for the header */
    letter-spacing: 2px;                    /* Add letter spacing for an artistic touch */
}

footer {
    background-color: #caefaf;
    text-align: center;
    padding: 2em;                            /* Increased padding for a more prominent footer */
    margin-top: 200px;
    font-family: 'Brush Script MT', cursive; /* Example artistic font for the footer */
    color: #fff;
}


footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.3s ease;
}

footer a:hover {
    border-bottom: 2px solid #fff;
    color: #ffc107;                        /* Change link color on hover for emphasis */
}